<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Количество тренеров по видам спорта</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:insert="~{header :: main}"></div>

<div class="text-right">
    <a class="badge badge-pill badge-dark" th:href="@{'/'+${item_name}+'/first'}">First </a>
    <a class="badge badge-pill badge-dark" th:href="@{'/'+${item_name}+'/prev'}">Previsouly </a>
    <a class="badge badge-pill badge-dark " th:href="@{'/'+${item_name}+'/next'}"> Next </a>
</div>
<table class="table .table-striped .table-bordered .table-responsive">
    <thead class="thead-dark">
    <tr>
        <th class="priceInTable">Вид спорта</th>
        <th class="nameInTable">Количество тренеров</th>
    </tr>

    </thead>
    <tr th:each="item : ${mapwithdata}">
        <td th:text="${item.value}"></td>
        <td th:text="${item.key}"></td>
    </tr>

</table>
<div th:insert="~{footer :: main}"></div>
</body>
</html>